<?php

$config = array();

// Display avatars
// Set to 'false' if you don't want to display avatars
$config['rcp_showAvatar'] = true;

// Regex to match against the email to check if from your organisation
// The following regex matches [anyone]@kinoras.me
$config['rcp_mailRegex'] = "/@(.*\.|)kinoras\.me/i";

// Header for spam mails
$config['rcp_spamStatusHeader'] = 'X-RCP-Spam-Status';
$config['rcp_spamReasonHeader'] = 'X-RCP-Spam-Reason';
$config['rcp_spamDescriptionHeader'] = 'X-RCP-Spam-Description';

// Header for virus attachments
$config['rcp_virusStatusHeader'] = 'X-RCP-Virus-Status';
$config['rcp_virusDescriptionHeader'] = 'X-RCP-Virus-Description';

// Header of SPF staus
$config['rcp_spfHeader'] = 'Received-SPF';

$config['rcp_hashHeader'] = 'X-RCP-Spam-Hash';
$config['rcp_salt'] = 'iy9Rd@CG!MemBt';