<?php

$config = array();

// Display avatars
// Set to 'false' if you don't want to display avatars
$config['rcp_showAvatar'] = true;

// Regex to match against the email to check if from your organisation
// The following regex matches [anyone]@kinoras.me
$config['rcp_mailRegex'] = "/@(.*\.|)kinoras\.me/i";

// Header for spam mails
$config['rcp_spamStatusHeader'] = 'X-RCP-Spam-Status';
$config['rcp_spamReasonHeader'] = 'X-RCP-Spam-Reason';
$config['rcp_spamDescriptionHeader'] = 'X-RCP-Spam-Description';
$config['rcp_spamHashHeader'] = 'X-RCP-Spam-Hash';

// Header of SPF staus
$config['rcp_spfHeader'] = 'Received-SPF';
