a#list-toggle-button.selection {
    display: none;
}

td.rc-avatar {
    margin: 0px;
    vertical-align: middle !important;
    padding: 0 !important;
}

.widescreen td.rc-avatar,
.listing td.rc-avatar {
    width: 48px;
    flex-shrink: 0;
    padding-left: 8px !important;
    padding-right: 0px !important;
}

.widescreen td.subject,
.listing td.subject {
    padding-left: 4px !important;
}

th.rc-avatar {
    width: 20px;
    padding: 0 !important;
}

.rc-avatar .avatar {
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    padding: 0;
    margin: 8px auto;
    background: currentColor;
    position: relative;
    transition: all 400ms ease-out;
    cursor: pointer;
    user-select: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.rc-avatar .avatar.bold-text {
    font-weight: bold;
    font-size: 1.5em;
}

.widescreen .rc-avatar .avatar,
.listing .rc-avatar .avatar {
    width: 36px;
    height: 36px;
    line-height: 36px;
}

.rc-avatar .avatar > *,
.rc-avatar .avatar > * > * {
    color: white;
    transition: opacity 300ms ease-out;
}

.rc-avatar .avatar div {
    width: 100%;
    height: 100%;
    position: relative;
}

.rc-avatar .avatar div img {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: 10;
    border-radius: 50%;
}

.rc-avatar .avatar div span {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
}

.tick {
    display: block;
    opacity: 0;
    transform: rotateY(180deg) translateX(50%);
    top: 0;
    left: 50%;
    position: absolute;
}

.multiselect .selected .rc-avatar .avatar {
    color: #1565c0 !important;
    transform: rotateY(180deg);
}

.multiselect .selected.flagged .rc-avatar .avatar {
    color: #ff5552 !important;
}

.multiselect .selected .rc-avatar .avatar > * {
    opacity: 0;
}

.multiselect .selected .rc-avatar .avatar > .tick {
    opacity: 1;
}

#message-objects div.ui.alert {
    border-radius: 12px !important;
}

.rcp-notice-title {
    font-weight: 700;
}

.rcp-notice-content {
    display: block;
    margin-top: 1px;
    font-size: 13px;
    line-height: 1.45;
}

.rcp-notice-remarks {
    display: block;
    margin-top: 4px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    font-size: 13px;
    line-height: 1.45;
}
